{% extends "partials/layout.html" %}

{% block header %}
{% include "partials/header.html" %}  
{% endblock header %}

{% block slider %}
{% include "partials/slider.html" %}  
{% endblock slider %}


{% block category %}
{% include "partials/category.html" %}
{% endblock category %}


{% block latest_product %}
{% include "partials/latest_product.html" %}
{% endblock latest_product %}


{% block best_product %}
{% include "partials/best_product.html" %}
{% endblock best_product %}

{% block best_collection %}
{% include "partials/best_collection.html" %}
{% endblock best_collection %}


{% block latest_offer %}
{% include "partials/latest_offer.html" %}
{% endblock latest_offer %}


{% block shop_method %}
{% include "partials/shop_method.html" %}
{% endblock shop_method %}

{% block gallery %}
{% include "partials/gallery.html" %}
{% endblock gallery %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}

{% block script %}
{% include "partials/script.html" %}
{% endblock script %}